body
{
    /*background-color: #262b30;*/
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu',Raleway,system-ui;
    font-weight: 50px;
}

header
{
    width: 100%; 
    position: relative; /*añadido*/    
    background-color: #3677B6;    
    box-shadow: 0px 3px 5px #0000003b;  
}

.containerNav
{ 
    display: flex; /*añadido*/
    align-items: stretch;
    position: relative;
    min-width: 240px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;      
    padding-left: 10px;
    /*padding: 5px; añadido*/
    /*
        position: fixed;
    */    
    /*
        top: 0;
    */    
    /*
        height: 40px;
    */    
    /*
        border-width: 1px;
    */
    /*
        border-style: solid;
    */
}

.navNormal
{
    display: flex; 
    margin-left: auto;
    align-items: center;
    text-align: center;
    /*
    position:fixed;    
    top: 0px;
    right: 0px;
    margin-top: 3px;
    margin-right: 1px;
    background-color: "transparent";
    */
}

.navNormal .bordeAnimado 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.navNormal .bordeAnimado > a
{  
    position: relative;
    max-width: 75px;/*añadido*/
    min-width: 70px;/*añadido*/
    height: 100%;
    background: #3677B6;
    text-decoration: none;
    color: #ffffff; /*añadido*/
    font-weight: 600; /*añadido*/
    text-align: center;
    z-index: 0;
    /*
    box-shadow: 1px 1px 6px black; */
    /* border-radius: 5px;    
    margin-top: 3px;
    margin-right: 5px;   
    margin-left: 4px; */    
    /*
    margin-right: 3px; añadido
    margin-left: 3px; añadido
    margin-top: 3px; añadido
    padding: 5px;*/   
}



.navNormal .bordeAnimado .borde
{
    background-color: #1F2B42;
    width: 0px;
    height: 2px;
}

.navNormal .bordeAnimado:hover
{    
    .borde{
        width: 60px;
        transition: width 600ms 0s;
    }    
}



/* .navNormal .bordeAnimado:hover
{  
     

     background: #ffffff;
    color: #3677b6;  
    cursor: pointer;     
    transition: border-bottom 50ms 0s; 
    border-bottom: 2px solid #E8E7EA; 
    background: aliceblue; 
} */



p
{
    color: black; /*añadido*/
    font-family: system-ui;
    font-weight: 300;
    text-align: justify;
    text-wrap:pretty;
    margin-left: 10px;
    margin-right: 10px;    
    /* color: aliceblue;  */
}

.manzanita
{
    display:block;
    padding-top: 3px;
    /*
        display:block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        margin-top: 3px;
    */    
}

.menuAltImage
{
    display: none;
    /*
        display:block;
        position: hidden;
        top: 0;
        right: 0;
        z-index: 1;
    */    
}

.menuAlt
{
    padding: 5px;
}
.menuAlt:hover
{   
   border-radius: 5px;
}

main
{
    max-width: 1200px;
}

main > div
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #9b95957d; /*añadido*/
    padding-bottom: 25px; /*añadido*/
}

h1
{
    text-align: center;
    margin: 30px;
    border-radius: 4px;    
    /* background: -webkit-linear-gradient(top,#92BDE6,#69A8E3, #4B9FEE); */
    background: #1E90FF;
    font-size: 1.2em;
    border-width: 1px;
    white-space: nowrap; /*añadido*/
    padding: 5px 8px; /*añadido*/
    color: #fff; /*añadido*/

    /* border-style: solid;
    border-color: darkseagreen; */
    /* width: 20%; */
    /* max-width: 150px; */    
    /*
        border-radius: 5px;
    */
}




/* .contedorBarra
{
    margin-top: 5px;
    width: 500px;
    height: 40px;
    background-color: #fff; 
    border: 1px solid #333;
}

.barra
{
    width: 0;
    height: 38px; 
    background-color: rgb(76, 243, 42);
} */



@media (width<720px)
{
    
    p{
        font-size: 12px;
    }        

    .navNormal
    {
        display: flex; 
        flex-direction: column;
        position: absolute;
        top: 36.32px;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 0px;
        background-color: "transparent";
        text-align: center;
    }    

    .navNormal.navAlt 
    {
        display: flex;  
        position:absolute;
        flex-direction: column;
        top: 37.32px;
        right: 0px;
        margin-right: 2px;
        height: 500px;
        width: 200px;        
        /* transition: height cubic-bezier(0,.49,.77,1.48) 500ms 0ms; */
        transition: height linear 500ms 0ms; 
        background-color: rgba(161, 153, 153, 0.2);
        backdrop-filter: blur(1px);
        border-radius: 4px;
        z-index: 1;
    } 

    

    .navNormal.navAlt .bordeAnimado
    {
        position: relative;
        width: 100%;
        height: 50px;
        margin-bottom: 2px;
    } 

    .navNormal.navAlt .bordeAnimado > a
    { 
        min-width: 192px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1E90FF;   
        border-radius: 4px;        
        border-left: 3px solid #1F2B42;
        border-bottom: 3px solid #1F2B42; 
    }

    .navNormal.navAlt .bordeAnimado .borde
    {
        display: none;
    } 
     
 

    
         
    h1
    {
        font-size: 1.2em;
        border-width: 1px;
        white-space: nowrap; /*añadido*/
        padding: 5px 8px; /*añadido*/
        text-align: center;
        margin: 10px;
    }



    .menuAltImage
    {
        display: flex;
        position: relative;
        top: 0px;
        right: 0px;
        margin-right: 2px;
        margin-left: auto;
    }
}

@font-face {
    font-family: Raleway;
    src: url("Raleway-VariableFont_wght.ttf");
}




