body
{
    /*background-color: #262b30;*/
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-weight: 50px;
}

header
{
    width: 100%; 
    position: relative; /*añadido*/
}

.manzanita
{
    display:block;
    /*
        display:block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        margin-top: 3px;
    */    
}

.menuAltImage
{
    display: none;
    /*
        display:block;
        position: hidden;
        top: 0;
        right: 0;
        z-index: 1;
    */    
}

.containerNav
{ 
    display: flex; /*añadido*/
    align-items: stretch;    
    height: 100%;
    background-color: #3677B6;
    box-shadow: 0px 3px 5px #0000003b;
    /*padding: 5px; añadido*/
    /*
        position: fixed;
    */    
    /*
        top: 0;
    */    
    /*
        height: 40px;
    */    
    /*
        border-width: 1px;
    */
    /*
        border-style: solid;
    */
}

.navNormal
{
    display: flex; 
    margin-left: auto;
    align-items: stretch;
    text-align: center;
    /*
    position:fixed;    
    top: 0px;
    right: 0px;
    margin-top: 3px;
    margin-right: 1px;
    background-color: "transparent";
    */
}

.navNormal > a
{  
    max-width: 75px;/*añadido*/
    min-width: 70px;/*añadido*/
    height: 100%;
    background: #3677B6;
    text-decoration: none;
    color: #ffffff; /*añadido*/
    font-weight: 600; /*añadido*/
    color: #ffffff;  
    text-align: center;
    padding-top: 7px;
    /*
    box-shadow: 1px 1px 6px black; */
    /* border-radius: 5px;    
    margin-top: 3px;
    margin-right: 5px;   
    margin-left: 4px; */    
    /*
    margin-right: 3px; añadido
    margin-left: 3px; añadido
    margin-top: 3px; añadido
    padding: 5px;*/
   
}

nav > a:hover
{    
    background: #ffffff;
    color: #3677b6;
    /* background: aliceblue; */
}

p
{
    color: black; /*añadido*/
    font-family: system-ui,'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    text-align: justify;
    text-wrap:pretty;
    margin-left: 10px;
    margin-right: 10px;    
    /* color: aliceblue;  */
}

.menuAlt
{
    padding: 5px;
}
.menuAlt:hover
{
   background-color: aliceblue;
   border-radius: 5px;
   cursor: pointer;
}

main
{
    margin-top: 36px;
    max-width: 1366px;
}

main > div
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #9b95957d; /*añadido*/
    padding-bottom: 25px; /*añadido*/
}

h1
{
    text-align: center;
    margin: 30px;
    border-radius: 4px;    
    background: -webkit-linear-gradient(top,#92BDE6,#69A8E3, #4B9FEE);
    font-size: 1.2em;
    border-width: 1px;
    white-space: nowrap; /*añadido*/
    padding: 5px 8px; /*añadido*/
    color: #fff; /*añadido*/

    /* border-style: solid;
    border-color: darkseagreen; */
    /* width: 20%; */
    /* max-width: 150px; */    
    /*
        border-radius: 5px;
    */
}




/* .contedorBarra
{
    margin-top: 5px;
    width: 500px;
    height: 40px;
    background-color: #fff; 
    border: 1px solid #333;
}

.barra
{
    width: 0;
    height: 38px; 
    background-color: rgb(76, 243, 42);
} */



@media (width<720px)
{
    
    p{
        font-size: 12px;
    }    

    .navNormal
    {
        display: flex; 
        flex-direction: column;
        position: fixed;
        overflow: hidden;
        height: 0px;
        background-color: "transparent";
        text-align: center;
    }    

    .navNormal.navAlt
    {
        display: flex;  
        position:absolute;
        flex-direction: column;
        top: 35px;
        right: 0px;
        height: 150px;
        background-color: "transparent";
        text-align: center;
        border-radius: 8px;
        transition: height cubic-bezier(0,.49,.77,1.48) 1000ms 0ms;
    }

    h1
    {
        font-size: 1.2em;
        border-width: 1px;
        white-space: nowrap; /*añadido*/
        padding: 5px 8px; /*añadido*/
        text-align: center;
        margin: 10px;
    }

    .menuAltImage
    {
        display: flex;
        position: relative;
        top: 0px;
        right: 0px;
        margin-right: 2px;
        margin-left: auto;
    }
    nav > a:hover
    {
        background: #ffffff;
        color: #3677b6;
    }
}

@font-face {
    font-family: Raleway;
    src: url("Raleway-VariableFont_wght.ttf");
}




