body
{
    position: relative;
    top: 0px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu',Raleway,system-ui;
}

header
{
    width: 100%; 
    position: relative;    
    top: 0;
    background-color: #3677B6;    
    box-shadow: 0px 3px 5px #0000003b;  
}

.containerNav
{ 
    display: flex;
    align-items: stretch;
    position: relative;
    min-width: 240px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;      
    padding-left: 10px;
}

.navNormal
{
    display: flex; 
    margin-left: auto;
    align-items: center;
    text-align: center;    
}

.navNormal .bordeAnimado 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}



.navNormal .bordeAnimado > a
{  
    position: relative;
    background: #3677B6;
    text-decoration: none;
    color: #ffffff; 
    font-weight: 600; 
    text-align: center;
    z-index: 0;
    text-align: center;
    padding-right: 2px;
    padding-left: 2px;
      
}



.navNormal .bordeAnimado .borde
{
    background-color: #1F2B42;
    width: 0px;
    height: 2px;
}

.navNormal .bordeAnimado:hover
{    
    .borde{
        width: 100%;
        transition: width 600ms 0s;
    }    
}


/******************** Borde Alternativo  ********************/

/* .navNormal .bordeAnimado:hover
{  
     

     background: #ffffff;
    color: #3677b6;  
    cursor: pointer;     
    transition: border-bottom 50ms 0s; 
    border-bottom: 2px solid #E8E7EA; 
    background: aliceblue; 
} */



p
{
    color: black; 
    font-family: system-ui;
    font-weight: 300;
    text-align: justify;
    text-wrap:pretty;
    margin-left: 10px;
    margin-right: 10px;    
}

.manzanita
{
    display:block;
    padding-top: 3px;
    cursor: pointer;
}

.menuAltImage
{
    display: none;  
}

.menuAlt
{
    padding: 5px;
}
.menuAlt:hover
{   
   border-radius: 5px;
}

main
{
    max-width: 1200px;
}

main > div
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #9b95957d;
    padding-bottom: 25px;
}

h1
{
    text-align: center;
    margin: 30px;
    border-radius: 4px;    
    background: #1E90FF;
    font-size: 1.2em;
    border-width: 1px;
    white-space: nowrap;
    padding: 5px 8px; 
    color: #fff; 
}

@media (width<720px)
{
    
    p{
        font-size: 12px;
    }        

    .navNormal
    {
        display: flex; 
        flex-direction: column;
        position: absolute;
        top: 36.32px;
        right: 0;
        width: 80px;
        overflow: hidden;
        height: 0px;
        background-color: "transparent";
        text-align: center;
    }    

    .navNormal.navAlt 
    {
        display: flex;  
        position:absolute;
        flex-direction: column;
        top: 37.32px;
        right: 0px;
        margin-right: 2px;
        width: 80px;
        height: 500px;     
        transition: height linear 500ms 0ms; 
        background-color: rgba(161, 153, 153, 0.2);
        backdrop-filter: blur(1px);
        border-radius: 4px;
        z-index: 1;
    } 

    

    .navNormal.navAlt .bordeAnimado
    {
        position: relative;
        width: 100%;
        height: 30px;
        margin-bottom: 2px;
    } 

    .navNormal.navAlt .bordeAnimado > a
    { 
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1E90FF;   
        border-radius: 4px;        
        border-left: 3px solid #1F2B42;
        border-bottom: 3px solid #1F2B42; 
    }

    .navNormal.navAlt .bordeAnimado .borde
    {
        display: none;
    } 
     
    h1
    {
        font-size: 1.2em;
        border-width: 1px;
        white-space: nowrap; 
        padding: 5px 8px; 
        text-align: center;
        margin: 10px;
    }



    .menuAltImage
    {
        display: flex;
        position: relative;
        top: 0px;
        right: 0px;
        margin-right: 2px;
        margin-left: auto;
    }
}

@font-face {
    font-family: Raleway;
    src: url("Raleway-VariableFont_wght.ttf");
}




