*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #4A5B6C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header
{
    width: 100%;
}

.manzanita
{
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 3px;
}

.menuAltImage
{
    display:block;
    position: hidden;
    top: 0;
    right: 0;
    z-index: 1;
}

.containerNav
{ 
    position: fixed;
    top: 0;
    width: 100%; 
    height: 40px;
    background-color: #3677B6;
    border-width: 1px;
    border-style: solid;
}

.navNormal
{
    display: flex;  
    position:fixed;    
    top: 0px;
    right: 0px;
    margin-top: 3px;
    margin-right: 1px;
    background-color: "transparent";
    text-align: center;
}


.navNormal > a
{    
    
    margin-left: 4px;
    border: 1px solid darkseagreen ;
    border-radius: 5px;
    margin-top: 3px;
    margin-right: 5px;
    padding: 5px;
    background: -webkit-linear-gradient(top,#92BDE6,#69A8E3, #4B9FEE);
    text-decoration: none;
    color: #333;    
    box-shadow: 1px 1px 10px black;
}

.links > a:hover
{
    background: aliceblue;
}

main
{
    margin-top: 20px;
}

main > div
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

h1
{
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: darkseagreen;
    width: 20%;
    max-width: 150px;
    background: -webkit-linear-gradient(top,#92BDE6,#69A8E3, #4B9FEE);
    font-size: 1.2em;
    border-width: 1px;
}

.containerImage
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 0;    
    margin: 5px;
    align-items: center;
}

.menuAlt
{
    padding: 5px;
}
.menuAlt:hover
{
   background-color: aliceblue;
   border-radius: 5px;
   cursor: pointer;
}

/*
.navAlternativa
{
    display: none;
}

.OpcioneAlt
{
    display:none;    
    flex-direction: column; 
    align-items: flex-end;   
}

.OpcioneAlt > a
{   
    display: block; 
    width: 115px;
    border-color: #333;
    border-style: solid;
    text-decoration: none;
    border-width: 1px;
    padding: 3px;
    background: -webkit-linear-gradient(top,#92BDE6,#69A8E3, #4B9FEE);    
    color: #333;
    border-radius: 5px;
    text-align: center;    
}*/




@media (max-width:720px)
{
    h1
    {
        max-width: 200px;
        min-width: 100px;
        font-size: 14px;
    }
    p{
        font-size: 12px;
    }    

    .navNormal
    {
    display: block;  
    position: fixed;
    top: 50px;
    right: 0;
    width: 0; 
    height: 0;
    background-color: "transparent";
    text-align: center;
    }



    .navAlt
    {
    display: flex;  
    position: fixed;
    flex-direction: column;
    top: 35px;
    right: 0;
    width: 100px; 
    height: 40px;
    background-color: "transparent";
    text-align: center;

    }

    .menuAltImage
    {
        position: fixed;
        margin-top: 2px;
        margin-right: 2px;
    }
}










