body
{
    position: relative;
    top: 0px;
    background-color: #ffffff;
    font-family: 'Ubuntu',Raleway,system-ui;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px; 
}

.authContainer
{
    position: relative;
    width: 320px;
    height: 220px;
    border-top: 6px solid #E3EBEB;
    border-radius: 5px;
    outline: 1px solid #171717;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1E90FF;    
    color: #ffffff;
    box-shadow: 1px 1px 7px  #171717;
}

h1
{
    position: relative;
    text-align: center;
    padding: 10px;    
    font-weight: 700;
    font-size: 2em;
}

.formDatas
{
    display: flex;
    flex-direction: column;
}

.inputsContainers
{
    display: flex;
    position: relative;    
    font-size: 1.3em;
    font-weight: 400;        
    width: 100%; 
    margin-top: 5px;  
}


input
{
    border: 2px solid #171717;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 0 3px #171717;
    margin-left: 15px;
}

input[type="email"]
{
    margin-left: 12px ;
}

.inputsContainers > input:focus-visible
{
    transform: scale(1.1);
}

.inputContainers:has(:focus-visible:valid) > input
{
    outline-color: rgba(28, 240, 28);
}

.inputsContainers:has(:focus-visible:invalid) > input
{
    outline-color: rgb(161, 56, 56);
}

.buttonSubmit
{    
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.buttonSubmit:hover
{
    background-color: #e7e5e5;
}

.tabla
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 1.7em;
    font-family: "consolas";
    color: #333;
}

.messageRegister
{
    color: #333;
    background-color: rgb(172, 167, 167);
}
